<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <mat-icon aria-hidden="true" class="icon">pets</mat-icon>
        <a>AGL CATS</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <button mat-stroked-button
              matTooltip="Refresh the list of cats"
              matTooltipPosition="below"
              (click)="getCatList()">
              Refresh
            </button>
          </li>
          </ul>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<main>
  <div *ngIf = "loading" fxFlex fxLayout fxLayoutGap="40px" class="loader-overlay">
    <mat-spinner mode="indeterminate"></mat-spinner>      
  </div>
  <div *ngIf = "showResults" fxFlex fxLayout fxLayoutGap="40px" >
    <div flex>
      <mat-list>
        <mat-list-item class="header-item">
          <h2>Cats owned by males</h2>
          <mat-divider></mat-divider>
        </mat-list-item>
        <ng-container *ngFor="let pet of pets; let last = last; let even = even; let odd = odd">
          <mat-list-item *ngIf = "pet.ownerGender == 'Male'">
            <app-pet [pet]="pet"></app-pet>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list> 
    </div>
    <div flex>
      <mat-list>
        <mat-list-item class="header-item">
          <h2>Cats owned by females</h2>
          <mat-divider></mat-divider>
        </mat-list-item>
        <ng-container *ngFor="let pet of pets; let last = last; let even = even; let odd = odd">
            <mat-list-item *ngIf = "pet.ownerGender == 'Female'">
            <app-pet [pet]="pet"></app-pet>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list> 
    </div>
  </div>

  <div *ngIf = "!showResults" fxFlex fxLayout fxLayoutGap="40px" >Loading....</div>

  </main>
