mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 4px;
    width: 85%;
  }

  .header-item {
    color: whitesmoke;
    background-color: rgb(63, 81, 181);
  }

  .loader-overlay {
    position: absolute;
    width:100%;
    opacity: 1;
    z-index: 500000;
    left: 50%;
    top: 50%;
    margin-left: -4em;
}

.mat-list >  .mat-list-item:nth-child(2n){
   background-color:whitesmoke;
}
